Q1  What are data structures, and why are they important

Ans-Data structure is is a specialized,orgnized way of storing , orgnizing,and managing data in computer. so that it can be used efficiently  
 datastruture is made of two word **data**
 is the raw information eg.,name of list,product ,price  etc
 **structure** is a container of filling system
** WHY IS IT IMPORTENT** ?
Data structure are not just theoretical concept, they are crucial for writing good software.their importence can be summaried in tow key area efficiency and orgnization

 Q2Explain the difference between mutable and immutable data types with examples

ans-mutable-it can change after ceation
example - list, set,dict

immutble-after creation it can not be change
example-string or integer

Q3 What are the main differences between lists and tuples in Python

Ans-list- you can change ,add, or remove element after the created list. its usses square bracket []

Tuple- it can not change ,add,or remove element after cearted tuple
its usses parentheses()

 Q 4 Describe how dictionaries store data

ANS-Dictionaries are used to store data values in key:value pairs
They are unordered, mutable(changeable) & don’t allow duplicate keys

 Q 5 Why might you use a set instead of a list in Python

 ANS-You would use a set instead of a list primarily for two reasons: semantics and performance. The core difference is that a list is for an ordered sequence of items, while a set is for storing unique, unordered items.

Q6 What is a string in Python, and how is it different from a list

ANS - String is data type that stores a sequence of characters.
Different between string and Strings are immutable sequences of characters, mostly used for text processing.

Lists are mutable and can store a collection of heterogeneous elements.

In [ ]:
 Q7 How do tuples ensure data integrity in Python?

 Ans-Tuples in Python are a fundamental data structure that can help ensure data integrity in several ways
 like immutablility, ordered,hetrogeneous

Q 8  What is a hash table, and how does it relate to dictionaries in Python?

Ans-Hash Table Explanation
A hash table is a data structure that stores key-value pairs in a way that allows for efficient lookup, insertion, and deletion of elements. It uses a hash function to map keys to specific indices of a backing array.

Relation to Dictionaries in Python
- Implementation: Python dictionaries are implemented as hash tables.
- Key Characteristics:
    - Key-Value Pairs: Dictionaries store data as key-value pairs, like hash tables.
    - Efficient Lookups: Dictionaries allow fast lookups, insertions, and deletions due to the hash table implementation.
    - Hashable Keys: Like hash tables, dictionary keys must be hashable (immutable).
- Example:
Creating a dictionary
my_dict = {'name': 'John', 'age': 30}

Lookup
print(my_dict['name'])  # John

Insertion
my_dict['city'] = 'New York'
print(my_dict)  # {'name': 'John', 'age': 30, 'city': 'New York'}

Q 9  Can lists contain different data types in Python?

Ans-Yes, lists in Python can contain different data types. You can mix integers, floats, strings, and other data types in a single list.

Example:
my_list = [1, "hello", 3.14, True]

Q 10  Explain why strings are immutable in Python?

Ans-in python string are immutable.this mean once a string is created. its contents can not be modified.beacause of these reason
security, performes optimization, hasability, thread safty

 Q 11  What advantages do dictionaries offer over lists for certain tasks?
 Ans-dictionaries amd lists are both powerfull in python but they are design for different kind of task.

 the main advantages dictionaries offer over list

 example-1 fast lookup by key
 2 key value pair organigation
 3 avoids duplicates in key
 4 more readable data access
 5flexible data structures

 Q 12 Describe a scenario where using a tuple would be preferable over a list?
 Ans -A scenario where using a tuple would be preferable over a list is when you need an immutable collection of values.

For example, consider representing a date like (day, month, year). Since a date shouldn't change once it's created, using a tuple like (12, "September", 2025) is preferable. Tuples are immutable, meaning you can't accidentally change the values later in your code, which helps prevent bugs. Plus, tuples are slightly more memory-efficient and faster than lists because of their immutability.

Q 13 How do sets handle duplicate values in Python?
Ans-Sets in Python handle duplicate values by automatically removing them. When you create a set from a collection of elements (like a list or tuple), Python ensures that each element in the set is unique.

Q 14 How does the “in” keyword work differently for lists and dictionaries ?
Ans-In Python, the in keyword is used for membership testing. Here's how it works differently for lists and dictionaries:

- Lists: When used with a list, in checks if a value is present in the list.
Example: 5 in [1, 2, 3, 4, 5] returns True.
- Dictionaries: When used with a dictionary, in checks if a key is present in the dictionary.
Example: 'name' in {'name': 'John', 'age': 30} returns True.

Q 15 can you modify the elements of a tuple? Explain why or why not ?

Ans-No, you can't modify the elements of a tuple. Tuples in Python are immutable data structures, meaning once a tuple is created, its elements cannot be changed, added, or removed. This is a fundamental property of tuples that distinguishes them from lists, which are mutable. If you need to modify a collection of items, you'd typically use a list instead of a tuple.

Q 16 What is a nested dictionary, and give an example of its use case ?
Ans - A nested dictionary is a dictionary where the value of a key is another dictionary. This allows for hierarchical data representation and is super useful for structuring complex data.

Use case example:
You wanna store info about students in different classes. Here's how you could do it with a nested dictionary in Python:
students = {
    "Class 10A": {
        "Rahul": {"age": 15, "marks": 85},
        "Priya": {"age": 14, "marks": 90}
    },
    

  Q 17 describe the time complexity of accessing elements in a dictionary ?
   Ans- The time complexity of accessing elements in a dictionary is O(1) on average. Dictionaries in most programming languages (like Python) use a hash table implementation, which allows for fast lookups. However, in the worst-case scenario (when there are lots of hash collisions), it can degrade to O(n). But generally, for a well-implemented dictionary, you can expect O(1) time complexity for accessing elements by their key.

   Q 18  In what situations are lists preferred over dictionaries ?
   Ans- Lists are preferred over dictionaries in situations where:
- You need to maintain order of elements.
- You need to allow duplicate values.
- You need faster iteration over elements.
- You don't need key-value pairs for data access.

 Q 19  Why are dictionaries considered unordered, and how does that affect data retrieval ?
 Ans- Dictionaries are considered unordered data structures because they don't maintain the order in which key-value pairs were inserted or arranged. In Python, for example, dictionaries (or dicts) don't guarantee any particular order of their elements until Python , where they maintain insertion order.

 Q 20 Explain the difference between a list and a dictionary in terms of data retrieval.

 Ans- In terms of data retrieval, the main difference between a list and a dictionary is how you access elements.

- List: You access elements using their index (position in the list). For example, if you have a list my_list = [1, 2, 3], you access the first element using my_list[0].
- Dictionary: You access elements using a key. For example, if you have a dictionary my_dict = {'name': 'John', 'age': 30}, you access the value associated with 'name' using my_dict['name'].

In [ ]:
#Q1 Write a code to create a string with your name and print it.
name="ashish"

print(name)

ashish

In [ ]:
#Q2  Write a code to find the length of the string "Hello World"
string="hello world"
len(string)

11

In [ ]:
#Q3  Write a code to slice the first 3 characters from the string "Python Programming"
string="python programming"
sliced_string = string[:3]
print(sliced_string)

pyt

In [ ]:
#Q4Write a code to convert the string "hello" to uppercase

string="hello"
string.upper()

'HELLO'

In [ ]:
# Q5 P Write a code to replace the word "apple" with "orange" in the string "I like apple"P
string="i like apple"
string=string.replace("apple","orange")
print(string)

i like orange

In [ ]:
# Q6 P Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# Q7 P Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list=[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
# Q8 P Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
# Q 9 P Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list=['a','b','c','d']
my_list.insert(1,"e")
print(my_list)

['a', 'e', 'b', 'c', 'd']

In [ ]:
# Q 10  Write a code to reverse the list [10, 20, 30, 40, 50].
my_list=[10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
# Q 11  Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
# Q 12 2. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple=('red','green','blue','yellow')
second_to_last_element=my_tuple[-2]
print(second_to_last_element)

blue

In [ ]:
# Q 13 . Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple=(10,20,5,15)
minimum_number=min(my_tuple)
print(minimum_number)

5

In [ ]:
# Q 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple=('dog','cat','rabbit')
index_of_cat=my_tuple.index('cat')
print(index_of_cat)

1

In [ ]:
# Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
my_tuple=('apple','banana','kiwi')
if 'kiwi' in my_tuple:
    print("kiwi is in the tuple")

else:
    print("kiwi is not in the tuple")

kiwi is in the tuple

In [ ]:
# Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set={'a','b','c'}

print(my_set)

{'c', 'b', 'a'}

In [ ]:
# Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set={'a','b','c'}
print(my_set)

{'c', 'b', 'a'}

In [ ]:
# Q17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [ ]:
# Q18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)
#

{1, 2, 3}

In [ ]:
# Q19 . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
intersection_set=set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
# Q 21 1. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dic={"name": "ashish","age": 30,"city": "mumbai"}
print(my_dic)

{'name': 'ashish', 'age': 30, 'city': 'mumbai'}

In [ ]:
# Q 22 . Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dic={'name': 'John', 'age': 25}
my_dic["country"]="USA"
print(my_dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Q 23 . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dic={'name': 'Alice', 'age': 30}
print(my_dic["name"])

Alice

In [ ]:
# Q24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dic={'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dic["age"]
print(my_dic)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Q25 . Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}



my_dic={'name': 'Alice', 'city': 'Paris'}
if "city" in my_dic:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

In [ ]:
# Q 26  Write a code to create a list, a tuple, and a dictionary, and print them all
my_list=[1,2,3,4]
my_tuple=(1,2,3,4)
my_dic={"name": "ashish","age": 30,"city": "mumbai"}
print(my_list)
print(my_tuple)
print(my_dic)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'ashish', 'age': 30, 'city': 'mumbai'}

In [ ]:
# Q 27 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.
import random
# genrate a 5 random number
my_list = random.sample(range(1, 101), 5)
my_list.sort()
print(my_list)

[11, 31, 83, 91, 93]

In [ ]:
# Q28 Write a code to create a list with strings and print the element at the third index
# create a my list
my_list=["apple","banana","cherry","date","elderberry"]
print(my_list[2])

cherry

In [ ]:
# Q29 Write a code to combine two dictionaries into one and print the result
my_dic1={"name":"ashish","age":30}
my_dic2={"city":"mumbai","country":"india"}
my_dic1.update(my_dic2)
print(my_dic1)

{'name': 'ashish', 'age': 30, 'city': 'mumbai', 'country': 'india'}

In [ ]:
# Q30 Write a code to convert a list of strings into a set.
my_list=["apple","banana","cherry","date","elderberry"]
my_set=set(my_list)
print(my_set)

{'apple', 'date', 'banana', 'elderberry', 'cherry'}